body {
	font-size: 14px;
}

.ex1 {
	width: 460px;
	padding: 20px;
	background: lightskyblue;
	color: #fff;
}

label {
	display: block;
	margin: 10px 0;
	padding: 10px;
	background-color: #f8f8ff;
}

p, 
input {
	width: 480px;
	background: #000;
	padding: 5px;
	margin: 0 auto;
	color: #fff;
	border: 5px solid #ccc;
	text-align: center;
}

textarea {
	padding: 5px;
	width: 450px;
}

button {
	width: 465px;
}